trigger:
  branches:
    include:
      - main
pr:
  branches:
    include:
      - main

variables:
  buildConfiguration: Release
  webAppName: jacksurvey-webapp
  apiAppName: jacklimited-api
  resourceGroup: JackSurvey
  artifactName: drop

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    jobs:
      - job: Backend
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: sdk
              version: 9.0.x
          - script: dotnet restore JackLimited.sln
            displayName: Restore
          - script: dotnet build JackLimited.sln --configuration $(buildConfiguration) --no-restore
            displayName: Build
          - script: dotnet test JackLimited.sln --configuration $(buildConfiguration) --no-build --collect:"XPlat Code Coverage"
            displayName: Test
          - script: dotnet publish src/backend/JackLimited.Api/JackLimited.Api.csproj --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/api
            displayName: Publish API

      - job: Frontend
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '20.x'
          - script: |
              cd frontend
              npm ci
              npm run build
            displayName: Build Frontend
          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: frontend/dist
              includeRootFolder: false
              archiveFile: $(Build.ArtifactStagingDirectory)/frontend.zip

      - job: PublishArtifacts
        dependsOn:
          - Backend
          - Frontend
        steps:
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: $(Build.ArtifactStagingDirectory)
              ArtifactName: $(artifactName)

  - stage: Deploy
    dependsOn: Build
    jobs:
      - deployment: DeployBackend
        environment: prod
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@1
                  inputs:
                    artifactName: $(artifactName)
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: JackSurvey-Connection
                    appType: webAppLinux
                    appName: $(apiAppName)
                    package: $(Pipeline.Workspace)/$(artifactName)/api
      - deployment: DeployFrontend
        environment: prod
        dependsOn: DeployBackend
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@1
                  inputs:
                    artifactName: $(artifactName)
                - task: AzureCLI@2
                  inputs:
                    azureSubscription: JackSurvey-Connection
                    scriptType: bash
                    scriptLocation: inlineScript
                    inlineScript: |
                      az webapp deploy \
                        --resource-group $(resourceGroup) \
                        --name $(webAppName) \
                        --type zip \
                        --src-path $(Pipeline.Workspace)/$(artifactName)/frontend.zip